body{
    font-family: 'Nunito', sans-serif;
    background: black;
/*  background: rgb(249,225,235);
    background: radial-gradient(circle, rgba(249,225,235,1) 0%, rgba(148,187,233,1) 100%); */
}

header{
    flex-basis: 100%;
}

.wrapper{
    display: flex;
    flex-basis: 100%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    font-style: italic;
    font-size: 4em;
    margin: auto;
    text-align: center;
    color: white;
} 

figure{
    width: 300px;
    border: 1px solid #777;
    padding: 1em;
    box-sizing: border-box;
    margin: 3vh;
    background-color: #fff;
  }

figure img{
    width: 100%;
  }

figure figcaption{
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
    padding: 5%;
}

figure:hover{
    opacity: 70%;
    transition: width 2s;
}

.footer{
    text-align: center;
    font-weight: lighter;
}